$heightHeader: 55px;
$desktop-width: 1024px;
$tablet-width: 768px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

.wrap-header {
  height: $heightHeader;
  border: 1px solid #e3e4e5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // @include mobile {
  //   flex-wrap: wrap;
  //   height: fit-content;
  // }
  .block-input {
    position: relative;
    padding: 0px 10px;
    // @include mobile {
    //   height: $heightHeader;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
    i {
      position: absolute;
      left: 6%;
      top: 30%;
      @include mobile-and-tablet {
        left: 15%;
      }
    }
    input {
      border-width: 2px;
      border-color: #e7ecf0;
      border-style: solid;
      width: 350px;
      background: #e7ecf0;
      border-radius: 16px;
      text-align: left;
      padding: 6px 32px;
      font-family: Roboto;
      line-height: 16px;
      @include mobile-and-tablet {
        width: 100px;
        padding: 6px 6px;
        padding-left: 30%;
      }
      @include mobile {
        width: 80px;
      }
    }
  }
  .block-info {
    display: flex;
    padding: 0px 10px;
    height: 100%;
    @include mobile {
      flex-wrap: wrap;
      padding: 0px;
      justify-content: center;
    }
    .item {
      display: flex;
      align-items: center;
      margin: 0px 10px;
      position: relative;
      @include mobile {
        margin: 5px 5px;
      }
      &:hover {
        .item__popover {
          display: block;
          transition: 0.2s ease-in;
        }
        // .item__icon {
        //   i {
        //     color: #4aa1ec;
        //   }
        // }
        .item__desc {
          p {
            color: #4aa1ec;
          }
        }
      }
      .item__icon {
        margin-right: 7px;
        img {
          max-height: 32px;
        }
        // i {
        //   font-size: 25px;
        // }
      }
      .item__desc {
        margin-right: 2px;
        @include mobile {
          display: none;
        }
        p {
          font-family: Roboto;
          font-size: 14px;
          line-height: 16px;
          color: #131415;
        }
        i {
          font-size: 15px;
        }
      }
      .item__popover {
        position: absolute;
        top: 50px;
        border: 1px solid #e3e4e5;
        border-radius: 5px;
        background: white;
        min-width: 200px;
        padding: 5px;
        display: none;
        box-shadow: 3px 9px 51px -17px rgba(0, 0, 0, 0.75);
        z-index: 10;
        min-height: 50px;
      }
      .item__popover--right {
        right: 0;
      }
    }
  }
}
