$heightHeader: 55px;

.wrap-sidebar {
  width: 250px;
  background: white;
  bottom: 0;
  float: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: 0.1s ease-in;
  z-index: 5;
  ::-webkit-scrollbar {
    width: 8px;
    background: rgba(19, 20, 21, 0);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(19, 20, 21, 0.3);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(19, 20, 21, 0.3);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track-piece:end {
    margin-bottom: 40%;
  }
  ::-webkit-scrollbar-track-piece:start {
    margin-top: 40%;
  }
  .block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e4e5;
    height: $heightHeader;
    padding: 0px 10px;
    transition: 0.1s ease-in;
    .title--text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #4aa1ec;
    }
    .title--icon {
      font-size: 24px;
    }
  }
  .block-title__mini {
    padding: 0px;
    justify-content: center;
  }
  .block-menu {
    border: 1px solid #e3e4e5;
    height: 100vh;
    overflow: scroll;
    transition: 0.1s linear;
    .item {
      cursor: pointer;
      &:hover {
        background: rgba(19, 20, 21, 0.01);
        .item--main {
          border-left: 4px solid #4aa1ec;
          .item--main__label {
            span {
              color: #4aa1ec;
              transition: 0.2s ease-in;
            }
          }
          i {
            color: #4aa1ec;
            transition: 0.2s ease-in;
          }
        }
      }
      .item--main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 4px solid transparent;
        padding: 10px;
        .item--main__label {
          span {
            margin: 0px 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #131415;
          }
        }
      }
      .item--list-submenu {
        max-height: 0;
        transition: 0.2s ease-out;
        overflow: hidden;
        .submenu-item {
          padding: 10px 42px;
          &:hover {
            background: #edf5fd;
            span {
              color: #4aa1ec;
              transition: 0.2s ease-in;
            }
          }
          span {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
          }
        }
      }
      .is-active {
        max-height: 1000px;
        transition: 0.55s ease-in;
      }
    }
  }
}

.wrap-sidebar__mini {
  width: 50px;
  transition: 0.1s ease-out;
}
