$desktop-width: 1024px;
$tablet-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

.wrap-section-tabs {
  background: #e5e5e5;
  min-height: calc(100vh - 55px);
  @include mobile {
    height: 100vh;
  }
  .block-list--tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    .item--tab {
      width: 100%;
      background: #dee1e6;
      margin: 30px 0px;
      border: 1px solid #e3e4e5;
      box-sizing: border-box;
      border-radius: 4px;
      .item--tab__bar {
        display: flex;
        @include tablet {
          flex-wrap: wrap;
        }
        @include mobile {
          flex-wrap: wrap;
        }
        .item--mini-tab {
          display: flex;
          min-width: 200px;
          width: fit-content;
          padding: 0px 10px;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          position: relative;
          @include mobile-and-tablet {
            min-width: fit-content;
          }
          &:last-child {
            border: 0;
          }
          i {
            color: rgba(19, 20, 21, 0.3);
          }
          .item--mini-tab__main {
            margin: 10px 0px;
            span {
              font-family: Roboto;
              font-size: 14px;
              line-height: 16px;
              color: rgba(19, 20, 21, 0.3);
              margin: 0px 3px;
            }
          }
        }
        .item--mini-tab__active {
          background: white;
          border-radius: 15px 15px 0px 0px;
          min-width: 200px;
          width: fit-content;
          transition: 0.1s linear;
          @include mobile-and-tablet {
            min-width: fit-content;
          }
          i {
            color: #4aa1ec;
          }
          .item--mini-tab__main {
            span {
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              color: #4aa1ec;
            }
          }
        }
        .item--mini-tab::after {
          content: '|';
          position: absolute;
          right: 0;
          color: rgba(19, 20, 21, 0.3);
        }
        .item--mini-tab__active::after,
        .no-border::after {
          content: '';
        }
        @include desktop {
          .item--mini-tab:last-child::after {
            content: '';
          }
        }
      }
      .item--tab__screen {
        min-height: 10px;
        background: white;
      }
    }
  }
}
