$desktop-width: 1024px;
$tablet-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

.wrap-dashboard {
  width: 100%;
  .wrap-screen {
    margin-left: 250px;
    @include mobile-and-tablet {
      position: absolute;
      margin-left: 50px;
    }
  }
  .wrap-screen__expanded {
    margin-left: 50px;
    @include mobile-and-tablet {
      margin-left: 50px;
    }
  }
}
